transition()
	-o-transition  arguments
	-moz-transition arguments
	-webkit-transition arguments
	transition arguments

transition-delay()
	transition-delay arguments
	-moz-transition-delay arguments
	-webkit-transition-delay arguments
	-o-transition-delay arguments

rotate()
	-ms-transform 'rotate(%s)' % arguments
	-moz-transform 'rotate(%s)' % arguments
	-webkit-transform 'rotate(%s)' % arguments
	-o-transform 'rotate(%s)' % arguments

gradientBG(args...)
	background-image '-moz-linear-gradient(top,%s,%s)' % (args[0] args[1])
	background-image '-webkit-gradient(linear, 0 0, 0 100%, from(%s), to(%s))'
	background-image '-webkit-linear-gradient(top,%s,%s)' % (args[0] args [1])
	background-image '-o-linear-gradient(top,%s,%s)' % (args[0] args[1])
	background-image 'linear-gradient(to bottom,%s,%s)' % (args[0] args[1])


body
html
	font-family  "HelveticaNeue-Light", Helvetica, Verdana, Arial, sans-serif
	font-weight  100
	font-size  12pt
	height  100%
	overflow  hidden

h2
	font-family "HelveticaNeue-Light", "Helvetica Neue"
	font-weight 100
	font-size 14pt

.slide
	vertical-align  middle 
	text-align center
	height 100%
	position absolute


.slide>div
	display table
	height 100%
	background-color inherit


.slide>div>div
	display table-cell
	background-color inherit
	line-height 1.6em

.slide>div.top>div
	padding-top 10%
	vertical-align top


.slide>div.mid>div
	vertical-align middle


.slide>div.bot>div
	padding-bottom 10%
	vertical-align bottom


.slide>div.lef
	width 80%
	margin-left auto
	margin-right auto


.slide>div.lef>div
	text-align left


.slide div.rig
	width 80%
	margin-left auto
	margin-right auto


.slide div.rig div
	text-align right


.slide div.cen
	text-align center
	width 100%


.slide div.cen div
	text-align center
	width 100%


h2>.switch
	top 5px

.switch
	display inline-block
	height 22px
	width 76px
	background-color #d1d1d1
	position relative
	font-size  9pt

.s_on
	position absolute
	right 4px
	text-align  center

.s_off
	position  absolute
	left 4px

.switch div
	height 18px
	width 37px
	background-color  #b5b5b5
	position  absolute
	border-top 1px solid #ddd
	border-bottom  1px solid #777
	border-left 1px solid #ddd
	border-right 1px solid #ddd
	padding-left 2px
	color white
	top 1px
	text-align center
	font-size 9pt
	line-height 1.6em
	border-radius 2px
	transition left 0.3s ease, background-color 1s ease, border 1s ease

.switch.on>div
	left 1px
	background-color  #33B5E5
	border-bottom 1px solid #2EA6D5
	border-left 1px solid #D6D6D6
	border-right 1px solid #D6D6D6
	border-top  1px solid #37C7FF


.switch.off>div
	left 34px
	background-color  #b5b5b5

button.state>div
	height 4px
	width 80%
	background-color  #000
	border-radius  2px
	margin-left  auto
	margin-right  auto
	transition background-color 0.4s ease


button.state>div.off
	background-color  black


button.state>div.on
	background-color  turquoise

.col_right
	width 50%
	float right

.live
	>iframe
		height 40%
		width 90%
		border 1px solid #eee
		box-shadow 0px 0px 5px #aaa

.preview
	>.slide
		height 40%
		width 45%
		font-size 16pt
		border 1px solid #eee
		z-index 100
		box-shadow 0px 0px 5px #aaa
	>h2
		>.menu
			display inline-block
			background-image url("../sprites/menu.png")
			background-position center center
			background-repeat no-repeat
			height 15px
			width 15px
			position relative
			top 2px
			>ul
				opacity 0
				transition opacity 0.2s ease, visibility 0.2s linear
				transition-delay 1s
				position absolute
				z-index 200
				top 20px
				display block
				margin-left 0
				border 1px solid #ccc
				background-color white
				padding-bottom 10px
				padding-top 0
				border-radius 5px
				box-shadow 0px 0px 5px #aaa
				display block
				visibility hidden
				>li
					width 8em
					margin-left 10px
					margin-right 10px
					margin-top 10px
					clear both
					position relative
					>span
						width 40.6%
						text-align center
						border-bottom 1px solid #ccc
						display block
						padding 10px
					>span.left
						width 45%
						float right
						border-left 1px solid #ccc
						margin-right -20px
					>span.right
						float left
					>.pref
						position absolute
						left 0
						margin-top 0px
						height 1.4em
						display inline-block
						background-color white
						opacity 0
						transition opacity 0.4s ease
						width 100%
						>.left
							background-position -264px -48px
							background-image url('../sprites/small.png')
							width 14px
							height 14px
							display inline-block
						>.right
							background-position -312px -48px
							background-image url('../sprites/small.png')
							width 14px
							height 14px
							display inline-block
						>.center
							background-position -288px -48px
							background-image url('../sprites/small.png')
							width 14px
							height 14px
							display inline-block
						>.tp
						>.md
						>.bt
							width 14px
							height 14px
							display inline-block
							background-position center center
						>.tp
							background-image url('../sprites/vat.png')
						>.md
							background-image url('../sprites/vam.png')
						>.bt
							background-image url('../sprites/vab.png')
				>li:hover>.pref
					opacity 1
				>li:nth-child(1)
					margin-left 0
					margin-right 0
					margin-top 0
				>li:nth-child(2)
					padding-top 10px
		>.menu:focus>ul
		>.menu:hover>ul
			opacity 1
			transition-delay 0.4s
			visibility visible
		>.goLive
			display inline-block
			background-image url("../sprites/golive.png")
			background-position center center
			background-repeat no-repeat
			height 15px
			width 15px
			position relative
			top 2px



.col_left
	width 40%
	overflow scroll
	position relative
	left 8%
	margin-bottom 10%

.songlist
.setlist
	position absolute
	top 0
	left -80.2%
	width 80%
	height 100%
	border 1px solid #ccc
	transition left 0.3s ease, width 0.3s ease
	transition-delay 0.5s
	z-index 100
	background-color white
	>.title
		font-size 18pt
		position absolute
		letter-spacing 0.1em
		right -68px
		margin-top 50px
		text-align center
		rotate 90deg
		border 1px solid #ccc
		border-bottom 1px solid #fff
		padding 10px
		background-color white
	>.pad
		margin 20px
		>ol
			>li
				.remove
					display none
			>li:hover
				.remove
					display inline-block
.songlist
	width 80%
	>.title
		right -79px
		margin-top 180px
	>.editor
		padding 20px
		padding-top 3px
		transition opacity 0.3s ease, visibility 0.3s ease
		opacity 0
		visibility hidden
		width 45%
		height 80%
		>textarea
			width 100%
			height 100%
			display block
		>h2
			display inline-block
		>.search
			width 60%
			margin-left 20px
			position relative
			top -4px
	>.pad
		position absolute
		right 0px
		width 20em
		>ul
			>li
				.edit
				.remove
					display none
			>li:hover
				.remove
				.edit
					display inline-block
.songlist.show
	>.editor
		opacity 1
		visibility visible
.songlist.show
	left 0
.songlist.show:hover
	left 0
	
.songlist:hover
.setlist:hover
	z-index 200
	transition-delay 0.2s
.setlist:hover
	left 0
.songlist:hover
	left -40.6%

.setlist
	width 30%
	left -30.2%



.paragraph
	display block
	width 80%
	>div>.tag
		display block
		background-color #33B5E5
		color white


.search
	display inline-block
	position relative
	margin-top -7px
	border-bottom 1px solid #ccc
	width 70%
	margin-right 20px
	margin-bottom 20px


.search.focused, .search.hovered
	border-bottom 1px solid #33B5E5


.search.focused .right
.search.focused .left
.search.hovered .right
.search.hovered .left
.tag
	background-color #33B5E5


.search input
	font-weight 100
	font-family "HelveticaNeue-Light", Helvetica, Verdana, Arial, sans-serif
	border 0
	font-size 14pt
	outline 0
	width 90%
	margin 0
	box-shadow 0
	-webkit-box-shadow none
	margin-left 10px
	background transparent


.search input:focus
	-webkit-box-shadow none
	box-shadow none


.search>.left, .search>.right
	width 1px
	height 10px
	background-color #ccc


.search>.left
	position absolute
	top 14pt
	left 0


.search>.right
	position absolute
	top 14pt
	right 0

.search>.remove
	position absolute
	top 5pt
	right 5pt

.search>.add
	position absolute
	top 1.5pt
	right 20pt
	font-size 16pt

.btn.save
	background-color #33B5E5
	gradientBG(#37C7FF,#2EA6D5)
	color white

.edit
	background-image url('../sprites/edit.png')
	background-position center center
	background-repeat no-repeat
	height 16px
	width 16px

.remove
	background-image url('../sprites/delete.png')
	background-position center center
	background-repeat no-repeat
	height 16px
	width 16px