<!DOCTYPE html>
<html>
	<head>
		<title>C.Present - Desktop Control</title>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/colorpicker.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/angular-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

	</head>
	<body ng-app="Presenter">
		<div id="container" ng-controller="PresentationManagerController">
			
			<div class="col1">
				<div ng-controller="SongListController">
					<h4><span ng-click="songEdit = true; isNew = true; tester = {}; tester.title = '';tester.lyrics=''">Song List</span>
					<div class="search" ng-class="[focus,hoverd]">
						<input type="text" placeholder="Search songs..." ng-model="search" ng-change="shDelete()" ui-event="{mouseover: 'hover(true)', mouseout: 'hover(false)',focus:'focused(true)',blur:'focused(false)' }" />
						<div class="remove" ng-style="delDisp" ng-click="search=''; shDelete()"></div>
						<div class="left"></div>
						<div class="right"></div>
					</div></h4>
					<ul class="songlist">
						<li ng-repeat="song in songlist | filter:search" ng-click="addToSetList(song)">{{song.title}} <div class="edit" ng-click="editSong(song); $event.stopPropagation()"></div></li>
					</ul>
					<div ng-model="songEdit" class="fade" ui-modal>
						<div class="modal-header">Song Editor</div>
						<div class="modal-body">
							<div class="input" ng-class="[focus,hoverd]">
								<input type="text" ng-model="tester.title" />
								<div class="left"></div>
								<div class="right"></div>
								<div style="clear:both"></div>
							</div><div class="remove" ng-click="songDelete(tester)" style="display:inline-block; margin-bottom:-10px;margin-left:10px"></div><br /><br />
							<textarea ng-model="tester.lyrics"></textarea>
						</div>
						<div class="modal-footer"><button class="btn" ng-click="saveSong(tester,isNew)">Save</button><button class="btn" ng-click="songEdit = false">Cancel</button></div>
					</div>
				</div>
			</div>
			<div class="setc" ng-controller="SetListController">
				<div>
					<h4>Set List</h4><br />
					<ol class="setlist" ui-sortable ui-options="{axis:'y'}" ng-init="runInit()" ng-model="setlist">
						<li ng-repeat="item in setlist" ng-click="showLyrics(item)" ui-animate>{{item.title}} <div class="remove" ng-click="removeFromSetList($index)"></div></li>
					</ol>
				</div>
			</div>
			<div class="col2" ng-controller="SlideController">
				<h4>Preview <span class="live" ng-click="goLive(lyrics)"></span>					
					<div class="pref">
						<div class="left" ng-click='alignH("lef")'></div> <div class="center"  ng-click='alignH("cen")'></div> <div class="right"  ng-click='alignH("rig")'></div>
						<div class="tp" ng-click="alignV('top')"></div> <div class="md" ng-click="alignV('mid')"></div> <div class="bt" ng-click="alignV('bot')"></div>
						<div style="width:16px;height:16px;border:1px solid #ccc;" ng-style="{backgroundColor:slideBgC}" data-color="{{slideBgC}}" data-color-format="hex" id="cp"></div>
						<div style="width:16px;height:16px;border:1px solid #ccc;" ng-style="{backgroundColor:slideTxtC}" data-color="{{slideTxtC}}" data-color-format="hex" id="cp2"></div>
						<!-- input type="text" id="slider" ng-model="slideBgC" ng-show="please" / -->
					</div>
	
				</h4>
				<br />
				<div class="pad">
					<span ng-repeat="section in lyrics" class="paragraph" ng-click="loadLyric(section)">
						<div>
							<span class="tag">{{section.tag}}</span><span ng-bind-html="section.para"></span>
						</div>
						<br />
					</span>
				</div>
			</div>

			<div class="slide" ng-style="{backgroundColor:slideBgC,color:slideTxtC}">
				<div ng-class="[slideV,slideH]"><div ng-bind-html="preview"></div></div>
			</div>
			<div class="col3" ng-controller="LiveController">
				<div class="pad">
					<h4>live <div class="switch" ng-click="$parent.isLive = !$parent.isLive; callLive()" ng-class="$parent.live"><div ng-bind-html="$parent.live.toUpperCase()"></div></div> 
					 black <div class="switch" ng-click="toggleBlack()" ng-class="$parent.black"><div ng-bind-html="$parent.black.toUpperCase()"></div></div>
					 clear <div class="switch" ng-click="toggleClear()" ng-class="clear"><div ng-bind-html="clear.toUpperCase()"></div></div>
					</h4>
					<span ng-repeat="section in prevLyrics" class="paragraph" ng-click="loadLyric(section);">
						<div>
							<span class="tag">{{section.tag}}</span><span ng-bind-html="section.para"></span>
						</div>
						<br />
					</span>
				</div>
				<!-- div class="slide2" ng-style="{backgroundColor:prevBgC,color:prevTxtC}">
					<div ng-class="[prevV,prevH]" ng-show="$parent.isLive"><div ng-bind-html="preview2" ng-show="clear"></div></div>
				</div -->
				<iframe src="/timecode.html" class="slide2" scrolling="no"></iframe>
			</div>
		</div>
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="assets/js/angular-ui.js"></script>
		<script type="text/javascript" src="assets/js/angular-resource.js"></script>
		<script type="text/javascript" src="assets/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="assets/js/compiled/app.js"></script>
	</body>
</html>
