<!DOCTYPE html>
<html ng-app="Control">
	<head>
		<title>C.Present - Desktop Control</title>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/colorpicker.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/angular-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/ui.css" />

	</head>
	<body ng-controller="ctrl">
			<div class="col_right">
			<div class="live">
				<h2>live &mdash; {{currenttag}} 
					<div class="switch" ng-click="toggleLive()" title="Toggles the presentation live" ui-jq="tooltip" data-placement="bottom" data-delay='{"show":1000,"hide":100}' ng-class="live" keypress="{28:'toggleLive()'}"><div ng-bind-html="live.toUpperCase()"></div></div>
					<div class="switch" ng-click="toggleClear()" ng-class="clear" keypress="{99:'toggleClear()'}"><div ng-bind-html="clear.toUpperCase()" ui-jq="tooltip" data-placement="bottom" data-delay='{"show":1000,"hide":100}' title="Toggles fading text in and out"></div></div>
					<div class="switch" ng-click="toggleBlack()" ng-class="black" keypress="{98:'toggleBlack()'}"><div ng-bind-html="black.toUpperCase()" ui-jq="tooltip" data-placement="bottom" data-delay='{"show":1000,"hide":100}' title="Toggles fading presentation to black"></div></div>
				</h2>
				<iframe src="timecode.html"></iframe>
			</div>

			<div class="preview" keyup="{76:'makeLive()'}">
				<h2>next &mdash; {{next}} <span class="menu">
					<ul>
						<li keyup="{39:'changeLyricIndex(\'+\')',37:'changeLyricIndex(\'-\')'}"><span class="left" ng-click="changeLyricIndex('+')" ui-jq="tooltip" data-delay="500" data-placement="bottom" title="Click to go to next verse">&gt;</span><span class="right" ng-click="changeLyricIndex('-')" ui-jq="tooltip" data-delay="500" data-placement="bottom" title="Click to go to previous verse">&lt;</span></li>
						<li>text color
							<div class="pref">
								<div style="width:16px;height:16px;border:1px solid #ccc;" ng-style="{backgroundColor:slide.color}" data-color="{{slide.color}}" data-color-format="hex" id="cp2"></div>
							</div>
						</li>
						<li>background
							<div class="pref">
								<div style="width:16px;height:16px;border:1px solid #ccc;" ng-style="{backgroundColor:slide.background}" data-color="{{slide.background}}" data-color-format="hex" id="cp"></div>
							</div>
						</li>
						<li>vertical align 
							<div class="pref">
								<div class="tp" ng-click="align('v','top')"></div> 
								<div class="md" ng-click="align('v','mid')"></div> 
								<div class="bt" ng-click="align('v','bot')"></div>
							</div>
						</li>
						<li>horizontal align 
							<div class="pref">
								<div class="left" ng-click='align("h","lef")'></div> 
								<div class="center"  ng-click='align("h","cen")'></div> 
								<div class="right"  ng-click='align("h","rig")'></div>
							</div>
						</li>
						<li>select lyric
							<div class="pref">not yet built</div>
						</li>
					</ul>
				</span> <span class="goLive" ng-click="makeLive()" ui-jq="tooltip" data-delay="500" data-placement="bottom" title="Click to make preview live"></span></h2>
				<div class="slide" ng-style="{backgroundColor:slide.background,color:slide.color}">
					<div ng-class="[slide.hAlign,slide.vAlign]">
						<div ng-bind-html="slide.lyrics[slide.ind].para"></div>
					</div>
				</div>
			</div>

		</div>
		<div class="col_left" keyup="{13:'nextSlide(nextLyric)'}">
			<h2>{{song.title}}</h2>
			<span ng-repeat="section in control.live" class="paragraph" ng-click="nextSlide($index)" keyup="
				{
					48:'nextSlide(0); alt=false;',
					49:'nextSlide(1); alt=false;',
					50:'nextSlide(2); alt=false;',
					51:'nextSlide(3); alt=false;',
					52:'nextSlide(4); alt=false;',
					53:'nextSlide(5); alt=false;',
					54:'nextSlide(6); alt=false;',
					55:'nextSlide(7); alt=false;',
					56:'nextSlide(8); alt=false;',
					57:'nextSlide(9); alt=false;'
				}
			">
				<div ng-class="highlight[$index]">
					<span class="tag" ng-show="section.subtag">{{section.tag}} <span class='alt' ng-show="alt" keyup="{18:'alt = !alt'}"> {{"{"+$index+"}"}}</span></span><span ng-bind-html="section.para"></span>
				</div>
				<br />
			</span>
		</div>
		<div class="setlist">
			<div class="title">setlist</div>
			<div class="pad" keyup="{38:'prevSong(\'+\')',
					40:'prevSong(\'-\')'}">
				<ol ui-sortable ui-options="{axis:'y',update:changeOrder}" ng-model="control.setlist">
					<li ng-repeat="item in control.setlist" ng-click="loadPreview($index)" ui-animate>{{item.title}} <div class="remove" ng-click="removeFromSetList($index)"></div></li>
				</ol>
			</div>
		</div>
		<div class="songlist" ng-class='editing'>
			<div class="title">songlist</div>
			<div class="pad">
				<div class="search" ng-class="[focus,hoverd]" ng-click='tester()'>
					<input type="text" placeholder="Search songs..." ng-model="search" ng-change="shDelete()" ui-event="{'focus':'editing=\'yes\'','blur':'editing=\'\''}" />
					<div class="remove" ng-style="delDisp" ng-click="search=''; shDelete()" ui-jq="tooltip" data-delay="500" data-placement="bottom" title="Click to clear results"></div>
					<div class="left"></div>
					<div class="right"></div>
					<span ng-click="newSong()" class="add" title="Click to create song" ui-jq="tooltip" data-delay="500" data-placement="bottom"> + </span>
				</div>
				<span ng-click="annoucement()" class="announce"></span>
				<ul>
					<li ng-repeat="song in songlist | filter:search" ng-click="addToSetList(song)">{{song.title}} <div class="edit" ng-click="editSong(song); $event.stopPropagation()" ui-jq="tooltip" data-delay="500" data-placement="bottom" title="Click to edit song"></div></li>
				</ul>
			</div>
			<div class="editor">
				<h2>song editor</h2><div class="search">
					<input type="text" placeholder="Song Title" ng-model="edit.title" />
					<div class="left"></div>
					<div class="right"></div>
				</div>
				<textarea placeholder="Song Lyrics" ng-model="edit.lyrics"></textarea>
				<button ng-click="cancelEdit()" class="btn">Cancel</button>
				<button ng-click="saveSong()" class="btn save">Save</button>
				<button ng-click="deleteSong()" class="btn btn-danger" ng-show="!songIsNew">Delete</button>
			</div>
		</div>
		<div class="help" ui-show="help" ng-click="help = !help"><span ui-jq="tooltip" title="Quick Help"> ? </span><span class="content">
			<h3>Help &amp; Keyboard Shortcuts</h3>
			<div style="float:right; margin-right:30px">
				Make live: <pre>Ctrl + l</pre>
			</div>
			Toggle Live: <pre>Ctrl + \</pre><br />
			Fade to black: <pre>b</pre><br />
			Hide Lyrics: <pre>c</pre><br />
			Change song in preview: <pre>Up/Down</pre><br />
			Change Verse in preview: <pre>Left/Right</pre><br />
			Next Verse (Live): <pre>Enter</pre><br />
			<hr />
			<h4>Set-up a presentation</h4>
			Open the song list, search for a song you'd like to add, then click on it to add it to the setlist. You'll notice a preview of the song shows in the preview area.
			<h4>Present a song</h4>
			Click the go-live button <img src="/assets/sprites/golive.png">. You'll notice the lyrics appear and a view of what your presenting appears. Click on any lyric to make it live or alternatively press <pre>Enter</pre> to go to the next lyric.
			<h4>Song editing</h4>
			In the songlist, hover over any song and click the edit button <img src="/assets/sprites/edit.png"> to edit a song. From there you can edit the song&quot;s or delete them. If you'd like to make a new song, click the <pre>+</pre> located inside the search bar.
			<h4>Modifying the setlist</h4>
			Once you've added songs from the song list, you can then edit the song position or remove it from the setlist. To remove, simply hover over the song and click the delete button <img src="/assets/sprites/delete.png">. To re-arrange the set list just click and drag the songs to where you want them. Remember the preview will autmatically load the next song in the set list when you click go live <img src="/assets/sprites/golive.png">.
			<h4>Viewing a presentation</h4>
			Open a new window in your web-browser and place it on the monitor/projector you will present on. Open the servers index.html page and full screen it. Alternatively <a target="window" href="/index.html">Click here</a>.
		</span></div>
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap-tooltip.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap-popover.js"></script>
		<script type="text/javascript" src="assets/js/angular-ui.min.js"></script>
		<script type="text/javascript" src="assets/js/angular-resource.js"></script>
		<script type="text/javascript" src="assets/js/angular-sanitize.js"></script>
		<script type="text/javascript" src="assets/js/angular-cookies.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="assets/js/compiled/ui.js"></script>
	</body>
</html>
