body
{
	font-size: 14pt;
	line-height: 120%;
	font-weight: 200;
	transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
}

#blackout
{
	background-color: black;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}

.ui-show
{
	opacity: 1;
}

.clock
{
	position: relative;
	margin:40px;
	z-index: 200;
	color: #ccc
}

.slide
{
	vertical-align : middle; 
	display : table-cell;
	text-align: center;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;

}


.slide div
{
	display: table;
	height: 100%;
}

.slide div div
{
	display: table-cell;
}


.slide div.top div
{
	padding-top:10%;
	vertical-align: top;
}

.slide div.mid div
{
	vertical-align: middle;
}

.slide div.bot div
{
	padding-bottom: 10%;
	vertical-align: bottom;
}

.slide div.lef
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.slide div.lef div
{
	text-align: left;
}

.slide div.rig
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.slide div.rig div
{
	text-align: right;
}

.slide div.cen
{
	text-align: center;
	width:100%;
}

.slide div.cen div
{
	text-align: center;
	width:100%;
}