.tag
{
	border:1px solid #ccc;
	text-align: center;
}

.tag span
{
	display: block;
	font-size:50pt;
	font-weight: bold;
}
.song
{
	font-size:20pt;
	margin: 20px;
}

@media (max-width: 767px) {
	.tag span
	{
		padding:50px;
	}
}

@media (min-width: 768px) {

	.tag
	{
		width:200px;
		height:200px;
		border:1px solid #aaa;
		box-shadow: 0px 0px 6px #ccc;
		margin-bottom:30px;
	}

	.tag span
	{
		margin-top:41%;
	}

}