html, body
{
	font-family: "HelveticaNeue-Light", Helvetica, Verdana, Arial, sans-serif;
	font-weight: 100;
	font-size: 12pt;
	height: 100%;
	overflow: hidden;
}

.tag {display: block;}

#container
{
	height: 100%;
	overflow: hidden;
}

h4
{
	font-size: 14pt;
	margin-bottom: 10px;
	font-weight: 500;
}

.col2 h4
{
	margin: 20px;
	margin-top: 21px;
	position: fixed;
}


ol
{
	list-style: decimal-leading-zero;
}

ul li, ol li
{
	line-height:1.25em;
}

.col3
{
	overflow: auto;
	float:left;
	width:35%;
	height: 65%;
	position:absolute;
	left:60%;
	margin-right:20px;
}

.col3>.pad
{
	padding:20px;
	width:80%;
}

.col2
{
	float:left;
	width:30%;
	height: 65%;
	padding-bottom: 0;
	margin-top: -1px;
	overflow: scroll;
	border-right:1px solid #ccc;
}

.col2 .pad
{
	padding:20px;
	margin-top: 40px;
}

.col1
{
	float:left;
	border-right:1px solid #ccc;
	width:30%;
	height: 50%;
	overflow: scroll;
}

.slide
{
	margin-top:15px;
	width:30%;
	height:35%;
	min-width: 10em;
	border:1px solid #ccc;
	font-size:10pt;
	vertical-align : middle; 
	display : table-cell;
	text-align: center;
	position:fixed;
	bottom:0;
	left:30%;

}

.slide2
{
	margin-top:15px;
	width:35%;
	height:35%;
	min-width: 10em;
	border:1px solid #ccc;
	font-size:10pt;
	vertical-align : middle; 
	display : table-cell;
	text-align: center;
	position:fixed;
	bottom:0;
	margin-left: 1px;
}

.setc
{
	margin-top:15px;
	width:30%;
	height:50%;
	min-width: 10em;
	border-top:1px solid #ccc;
	position:fixed;
	bottom:0;
	left:0;
	overflow: scroll;
	border-right: 1px solid #ccc;
}

.setc>div
{
	padding:20px;
}

.setc>div h4
{
	position: fixed;
}

.slide div,.slide2 div
{
	display: table;
	height: 100%;
}

.slide div div,.slide2 div div
{
	display: table-cell;
}


.slide div.top div, .slide2 div.top div
{
	padding-top:10%;
	vertical-align: top;
}

.slide div.mid div, .slide2 div.mid div
{
	vertical-align: middle;
}

.slide div.bot div, .slide2 div.bot div
{
	padding-bottom: 10%;
	vertical-align: bottom;
}

.slide div.lef, .slide2 div.lef
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.slide div.lef div, .slide2 div.lef div
{
	text-align: left;
}

.slide div.rig, .slide2 div.rig
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.slide div.rig div, .slide2 div.rig div
{
	text-align: right;
}

.slide div.cen, .slide2 div.cen
{
	text-align: center;
	width:100%;
}

.slide div.cen div, .slide2 div.cen div
{
	text-align: center;
	width: 100%;
}

.songlist
{
	margin-top:50px;
	list-style: none;
	padding-left: 0;
	cursor: pointer;
}

.songlist li>.edit
{
	display:none;
}

.edit
{
	background-image: url('../sprites/edit.png');
	background-position: center center;
	background-repeat: no-repeat;
	height:16px;
	width:16px;
}

.remove
{
	background-image: url('../sprites/delete.png');
	background-position: center center;
	background-repeat: no-repeat;
	height:16px;
	width:16px;
}

.songlist li:hover>.edit
{
	display:inline-block;
}

.col1>div h4 {
	position:relative;
}

.col1>div
{
	padding:20px;
}

.search
{
	display: inline-block;
	position:absolute;
	right:0;
	margin-top: -7px;
	border-bottom: 1px solid #ccc;
	width:60%;
}

.search.focused, .search.hovered
{
	border-bottom: 1px solid #33B5E5;
}

.search.focused .right, .search.focused .left, .search.hovered .right, .search.hovered .left, .tag
{
	background-color:#33B5E5;
}

.search input
{
	font-weight: 100;
	font-family: "HelveticaNeue-Light", Helvetica, Verdana, Arial, sans-serif;
	border:0;
	font-size: 14pt;
	outline: 0;
	width:90%;
	margin:0;
	box-shadow: 0;
	-webkit-box-shadow: none;
	margin-left:10px;
	background:transparent;
}

.search input:focus
{
	-webkit-box-shadow:none;
	box-shadow: none;
}

.search>.left, .search>.right
{
	width:1px;
	height:10px;
	background-color: #ccc;
}

.search>.left
{
	position:absolute;
	top:14pt;
	left:0;
}

.search>.right
{
	position: absolute;
	top:14pt;
	right:0;
}

.search>.remove
{
	position:absolute;
	top:5pt;
	right:5pt;
}

.setlist
{
	cursor:pointer;
	margin-left: 30px;
	margin-top:20px;
}

.setlist li div
{
	display: inline-block;
	cursor: default;
}

.setlist li>div {
	display: none;
}

.setlist li:hover>div {
	display:inline-block;
}

.col2 .paragraph
{
	text-align: left;
	font-size: 12pt;
	cursor: pointer;
	margin-left:20px;
}

.col2 .paragraph .tag
{
	font-size: 12pt;
	display: block;
}

.col3 .paragraph
{
	text-align: left;
	font-size: 12pt;
	cursor: pointer;
	margin-left:20px;
}

.col3 .paragraph .tag
{
	font-size: 12pt;
	display: block;
}

.ui-sortable-helper
{
	cursor: move;
}

.pref div
{
	display: inline-block;
	margin-left:10px;
}

.tp, .bt, .md
{
	background-position: center center
}

.pref .right
{
	background-position: -312px -48px;
	background-image: url('../sprites/small.png');
	width: 14px;
	height: 14px;
}

.pref .left
{
	background-position: -264px -48px;
	background-image: url('../sprites/small.png');
	width: 14px;
	height: 14px;
}

.pref .center
{
	background-position: -288px -48px;
	background-image: url('../sprites/small.png');
	width: 14px;
	height: 14px;
}

.pref .tp
{
	background-image: url('../sprites/vat.png');
	width: 14px;
	height: 14px;
}

.pref .md
{
	background-image: url('../sprites/vam.png');
	width: 14px;
	height: 14px;
}

.pref .bt
{
	background-image: url('../sprites/vab.png');
	width: 14px;
	height: 14px;
}

.col2 h4{
	background-color: white;
}

.col2 h4 .live
{
	display: inline-block;
	/*background-position: -434px -48px;*/
	background-position: -264px -72px;
	background-image: url('../sprites/small.png');
	width: 14px;
	height: 14px;
	cursor: pointer;

}

.col3 h4 span
{
	font-size:8pt;
	padding:3px;
	border:1px solid #ccc;
	position:relative;
	top:-2px;
}

.col3 h4 span:nth-child(1)
{
	margin-left:10px;
}

/**
use the following to center content in middle of page...
position:absolute; top:0; bottom:0; left:0; right:0;
			margin:auto;
**/

li {
  transition: opacity 0.5s ease, padding 0.5s ease, background-color 0.5s ease-out;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease, padding 0.5s ease, background-color 0.5s ease-out;
}
/* The 'hidden' state to transition from & to */
li.ui-animate {
  opacity: 0;
  max-height: 0;
  padding: 0 50px;
  background: #33B5E5;
}

.modal
{
	height:50%;
}

.black, .clear, .live
{
	cursor:pointer;
}

.modal
{
	height: 70%;
	top:45%;
	overflow:hidden;
}

.modal.fade.in
{
	top:45%;
}

.modal-body, .modal-body:focus, .modal-body:hover
{
	border:0;
	outline:none;
	border-radius:none;
}

.modal-body
{
	height:70%;
}

.input
{
	display: inline-block;
	position:relative;
	border-bottom: 1px solid #ccc;
}

.input.focused, .input.hovered
{
	border-bottom: 1px solid #33B5E5;
}

.input.focused .right, .input.focused .left, .input.hovered .right, .input.hovered .left, .tag
{
	/*background-color:#33B5E5;*/
	background-color:turquoise;
}

.input input
{
	font-weight: 100;
	font-family: "HelveticaNeue-Light", Helvetica, Verdana, Arial, sans-serif;
	border:0;
	font-size: 14pt;
	outline: 0;
	width:90%;
	margin:0;
	box-shadow: 0;
	-webkit-box-shadow: none;
	margin-left:10px;
	background:transparent;
}

.input input:focus
{
	-webkit-box-shadow:none;
	box-shadow: none;
}

.input>.left, .input>.right
{
	width:1px;
	height:10px;
	background-color: #ccc;
}

.input>.left
{
	position:absolute;
	top:12pt;
	left:0;
}

.input>.right
{
	position: absolute;
	top:12pt;
	right:0;
}

textarea
{
	display:block;
	width:100%;
	height:100%;
}